html {
  scroll-behavior: smooth;
}

*{
	padding: 0;
	margin: 0;
}

body {
	font-family: "Raleway", sans-serif;
	color:white;
}

.home{
	background: url(../images/mqq1.png);
	background-position: center;
	background-size: cover;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	color: lightgreen;
}

.home > div {
	margin-top:-100px;
	width: 600px;
	height: 300px
}

.home > div > h1 {
	color: lightgreen;
	text-shadow: 6px 0px 3px rgba(37,158,14,0.61);
	word-spacing: 10px;
	font-size: 40px;
}

.navbar {
	background-color: rgba(100, 19, 61, 0.75);
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: sticky;
	top: 0px;
}

.navbar > a {
	text-decoration: none;
	color: white;
	margin-left: 20px;
	font-size: 25px;
	font-weight: 800;
}

.navbar-list > li{
	display: inline-block;
	margin: 0 10px;
}

.navbar-list > li > a{
	color: white;
}

.navbar-list {
	margin-right: 20px;
}

.btn {
	background-color: green;
	color: white;
	border-style: none;
	padding: 10px 30px;	
	border-radius: 20px;
	font-size: 1rem;
	margin-top:10px;
}

.btn:hover {
	background-color: #D1D7DC;
	transform: scale(1.5);
	color: green;
	transition: .4s;
	cursor: pointer;
}

.introduction {
	background: url(../images/mqq2.jpg);
	background-position: center;
	background-size: cover;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.introduction h2 {
	font-size: 30px;
	width: 350px;
	text-shadow: 1px 1px 3px black;
}

.left{
	height: 100vh;
	width: 50vw;
	display: flex;
	justify-content: center;
	align-items: center;
}

.left h2 {
	margin-top: -100px;
}

.introduction span {
	color:red;
	font-style: 
}

.right{
	height: 100vh;
	width: 50vw;
	display: flex;
	justify-content: center;
	align-items: center;
}

.right > div {
	margin-top: -150px;
}

.right img {
	height: 250px;
	margin-bottom:100px;
}

.about-us {
	background: url(../images/mqq3.jpg);
	background-position: center;
	background-size: cover;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.about-us img {
	border-radius: 50%;
	width: 300px;
	height: 300px;
}

.about-us h1 {
	font-size: 40px;
	text-shadow: 1px 1px 3px black;
}

.gallery {
	background: url(../images/mqq4.jpg);
	background-position: center;
	background-size: cover;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.gallery h1 {
	font-size: 40px;
	text-shadow: 1px 1px 3px black;
}

.gallery img {
	height: 200px;
	width: 150px;
	margin: 10px;
}

.gallery img:hover{
	transform: scale(2);
	transition: .4s;
}

.contact-us{
	background: url(../images/mqq5.png);
	background-position: center;
	background-size: cover;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.contact-us-msg {
	margin-top: 300px;
}

input, textarea{
	display: block;
	border: 1px solid brown;
	margin: 10px auto;
	height: 40px;
	width: 400px;
	border-radius: 10px;
}


